@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');

html {
    max-height: 100vh;
    overflow: hidden;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 4.0rem;
    line-height: 4rem;
    text-align: center;
}

#globeViz {
    width: 100%;
    margin-top: -100px;
    margin-bottom: 0;
    z-index: 0;
}

b {
    color: #0B0B0B;
}

canvas {
    background: #fff;
    
}

.location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;

}

.location-container.next {
    position: fixed;
    top: auto;
    bottom: 0;
    margin-bottom: 0;
    /* padding-bottom: 2rem; */
}

.location-container h4 {
    color: #262626;
    margin-top: 1rem;
    margin-bottom: -1rem;
}

#next-date {
    margin-top: -1rem;
    padding-bottom: 3rem;
}

.bg-current {
    background: #FE5F55;
}

.bg-next {
    background: #FFCA28;
}

@keyframes bounce {
    from, to  {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    50% {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
}


.element-container {
    z-index: 1;
    margin-top: 10rem;
    margin-bottom: -13.1rem;
    -ms-flex: auto;
        -webkit-box-flex: 1;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
        -webkit-box-align: center;
            align-items: center;
    -ms-flex-pack: center;
        -webkit-box-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

svg {
    stroke: #fff;
    max-width: 150px;
    min-width: 150px;
    min-height: 150px;
}

.bounce {
    -webkit-animation: bounce 1s infinite;
    animation: bounce 1s infinite;
}